<div class="container">
    <div class="row" dir="{{direction}}">
        
            <div class="col-lg-6" >
                <carousel [noPause]="false" >
                    <slide *ngFor="let img of project.Image">
                        <div class="" >
                        <img [src]="img.url" alt="First slide" style="display: block; width: 100%;height: 660px;" class="slideimg">
                        <div class="carousel-caption d-none d-md-block">       
                        </div>
                        </div>
                    </slide>

                </carousel>
            </div>
       
        <div class="col-lg-6 p-5 " >
            <h2 class="titlt m-2">{{project.titile}}</h2>
            <h5 class="description p-1">"{{"Project Description" |translate}}":</h5>
            <p class="fs-4">{{project.subTitle}}</p>
              <p class="mb-5">{{project.description}}</p>
             <div class="mt-5">
                
             </div>
        </div>
       
    </div>
</div>