.slideimg{
    max-height: 660px;
}
.description{
    text-decoration: underline;
}
.carousel-control-prev-icon{
    background-image: url('https://img.icons8.com/external-becris-lineal-becris/64/null/external-next-mintab-for-ios-becris-lineal-becris.png')
 }
// ::ng-deep .carousel-control-prev-icon {

//     background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F1152460%2Fmore_next_prev_previous_right_skip_step_icon&psig=AOvVaw2p9Ta3TY-QqCIuwawOuvy5&ust=1678933698071000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCOChxsfx3P0CFQAAAAAdAAAAABAE");
//   }
  .titlt{
    text-decoration: underline;
    text-decoration-color: #FAC90A;

  }
