<div class="container-fluid bg-light p-lg-5 p-0" >
    <div class="container" >
        <h1 class=" mb-5 text-center aboutus">{{"aboutUs" | translate}}</h1>
        <div class="row mt-2 " dir="{{direction}}">
            <div class="col-lg-8  ">
                <h3 class="">{{"whyVarrox.whyVarrox" | translate}}<i
                        class="bi bi-question-diamond text-warning m-2"></i></h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3"><i class="bi fs-5 bi-lightbulb m-2 text-warning"></i>{{"whyVarrox.1" |
                        translate}}
                    </li>
                    <li class="list-group-item p-3"><i class="bi m-2 fs-5 bi-person-check-fill text-success"></i>{{"whyVarrox.2"
                        |
                        translate}}</li>
                    <li class="list-group-item p-3"> <i class="bi m-2 fs-5 bi-gear text-danger"></i>{{"whyVarrox.3" | translate}}
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 shadow p-4 rounded vision">
                <h3 class="text-center">{{"visionBtn" | translate}}<i class="bi bi-eye p-3 text-warning visionIcon"></i>
                </h3>
                <div>
                    {{"vision" | translate}}
                </div>

            </div>

        </div>
    </div>
</div>