<div class="container-fluid bg-dark p-lg-5  ">
  <div class="container ps-sm-5" dir="{{direction}}">
    <h1 class="text-center mb-4 services text-light">{{"Our services" | translate}}</h1>
    <div class="row mt-5 justify-content-around">
      <div class="col-lg-4 col-md-6 col-12 p-2 shadow">
        <div class="card " style="width: 18rem;">
          <img class="customCard card-img-top w-100" src="assets/44.jpg" alt="Card image cap">

          <div class="card-body">
            <h4 class="text-center p-1 bg-warning">{{"service1.name" | translate}}</h4>
            <p class="card-text">{{"service1.description" | translate}} </p>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 p-2 shadow">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top w-100" src="assets/16.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="text-center  p-1 bg-warning">{{"service2.name" | translate}}</h4>
            <p class="card-text">{{"service2.description" | translate}} </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 p-2 shadow">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/77.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="text-center  p-1 bg-warning">{{"service3.name" | translate}}</h4>
            <p class="card-text">{{"service3.description" | translate}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>